extends base

block content
  div icons from
    a(href='http://www.flaticon.com/') flaticon.com
    | under the
    a(href='http://creativecommons.org/licenses/by/3.0/') creative commons 3.0
    | license. Icons by:
  ul
    li
      a(href='https://www.flaticon.com/authors/rami-mcmin') Rami McMin
    li
      a(href='https://www.flaticon.com/authors/lucy-g') Lucy G
    li
      a(href='http://www.freepik.com') Freepik
    li
      a(href='https://www.flaticon.com/authors/catalin-fertu') Catalin Fertu