doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/css/lib/spectre.min.css')
    block css
  body
    header.navbar.bg-primary
      section.navbar-section
        a#home.navbar-brand.bg-primary(href='/')
          img(src='/img/logo.svg' width='35' height='35')
      section.navbar-section
        a#profile.bg-primary(href='/account')
          img(src='/img/profile.svg' width='35' height='35')
        a#about.bg-primary(href='/about')
          img(src='/img/info.svg' width='35' height='35')
    block content
    script(src='/js/lib/promise.min.js')
    script(src='/js/lib/fetch.js')
    script(src='/js/lib/vue.min.js')
    //script(src='https://unpkg.com/vue@2.5.16/dist/vue.js')
    script(src='/js/lib/masonry.min.js')
    script(src='/js/lib/cookies.min.js')
    block js