extends base

block css
  link(rel='stylesheet' href='/css/index.css')
  link(rel='stylesheet' href='https://rawgit.com/GuyShane/UnlockClient/master/src/unlock.min.css')

block js
  script(src='https://rawgit.com/GuyShane/UnlockClient/master/src/unlock.min.js')
  script(src='/js/index.js')

block content
  #spinner.loading.loading-lg
  #posts(v-cloak)
    #posts-container(v-for='post in posts')
      .card
        .card-header
          .h5.card-title {{ post.author }}
        .card-body {{ post.text }}
        .card-footer
          .btn.btn-primary(v-on:click='vote(post._id, true)') I'm with {{ post.author }}
          .btn(v-on:click='vote(post._id, false)') I'm against {{ post.author }}
          .bar
            .bar-item(:style='{width: ((post.with/(post.with+post.against))*100)+"%"}')
          span.with-count {{ post.with }} with
          span.against-count {{ post.against }} against
  span#open-editor.btn.btn-primary.circle
  #post-editor.modal
    .modal-overlay
    .modal-container
      if !authenticated
        #unlock-form.modal-header
          .modal-title Log in to see who's with you:
          input#email.form-input(type='email' placeholder='Email')
          p#unlock-error.form-input-hint
          #unlock-button
      .modal-body
        #editor-header Whatcha thinkin about?
        textarea.form-input(rows='5')
      .modal-footer
        if !authenticated
          #add-post.btn.btn-primary.disabled Post
        else
          #add-post.btn.btn-primary Post
        #close-editor.btn.btn-link Cancel
