extends base

block css
  link(rel='stylesheet' href='https://rawgit.com/GuyShane/UnlockClient/master/src/unlock.min.css')
  link(rel='stylesheet' href='/css/index.css')

block js
  script(src='https://rawgit.com/GuyShane/UnlockClient/master/src/unlock.min.js')
  script(src='/js/index.js')

block content
  #spinner.loading.loading-lg
  #posts(v-cloak)
    .post(v-for='post in posts')
      .card
        .card-header
          .h5.card-title {{ post.author }}
        .card-body {{ post.text }}
        .card-footer
          .buttons.clearfix
            .btn.btn-primary.btn-with.float-left(v-on:click='vote($event, post._id, true)') I'm with {{ post.author }}
            .btn.btn-against.float-right(v-on:click='vote($event, post._id, false)') I'm against {{ post.author }}
          .bar
            .bar-item(:style='{width: post.percent+"%"}')
          .counts
            span.with-count {{ post.with }} with
            span.count-separator /
            span.against-count {{ post.against }} against
  #load-more.btn.btn-link.d-none Load more
  span#open-editor.btn.btn-primary.circle
    img#add-icon(src='/img/add.svg' width='38' height='38')
  #toast-container.hidden
    #notification.toast
  #post-editor.modal
    .modal-overlay
    .modal-container
      if !authenticated
        #unlock-form.modal-header
          .modal-title Log in to see who's with you:
          input#email.form-input(type='email' placeholder='Email')
          p#unlock-error.form-input-hint
          #unlock-button
      .modal-body
        #editor-header Whatcha thinkin' about?
        textarea#post-text.form-input(rows='5')
      .modal-footer
        if !authenticated
          #add-post.btn.btn-primary.disabled Post
        else
          #add-post.btn.btn-primary Post
        #close-editor.btn.btn-link Cancel
