extends base

block js
  script(src='/js/index.js')

block content
  #spinner.loading.loading-lg
  #posts(v-cloak)
    #posts-container(v-for='post in posts')
      .card
        .card-header
          .card-title.h5 {{ post.author }}
        .card-body {{ post.text }}