extends base

block css
  link(rel='stylesheet' href='https://rawcdn.githack.com/GuyShane/UnlockClient/b2730406e1d1c9358fb12b63f1f020ff6c51fa5c/dist/unlock.css')
  link(rel='stylesheet' href='/css/login.css')

block js
  script(src='https://rawcdn.githack.com/GuyShane/UnlockClient/b2730406e1d1c9358fb12b63f1f020ff6c51fa5c/dist/unlock.js')
  script(src='/js/login.js')

block content
  #form-container
    h2#form-title Do I know you?
    input#email.form-input(type='email' placeholder='Email')
    p#form-error.form-input-hint
    #unlock-button
