extends base

block css
  link(rel='stylesheet' href='https://rawcdn.githack.com/GuyShane/UnlockClient/2031a8e7982980bc562dc332b238d1920a9d9a1c/src/unlock.min.css')
  link(rel='stylesheet' href='/css/login.css')

block js
  script(src='https://rawcdn.githack.com/GuyShane/UnlockClient/2031a8e7982980bc562dc332b238d1920a9d9a1c/src/unlock.min.js')
  script(src='/js/login.js')

block content
  #form-container
    h2#form-title Do I know you?
    input#email.form-input(type='email' placeholder='Email')
    p#form-error.form-input-hint
    #unlock-button